<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

{% block content %}

<section id="about" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center marb-35">
                <h1 class="header-h">Gâteaux traditionels</h1>
                <p class="header-p"></p>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-1"></div>
        </div>
    </div>
</section>

<section class="section-padding container">
    <div class="col-md-12 text-center">
        <h1 class="header-h mb-5">Que choisir ?</h1>
    </div>

    <div class="mb-5">
      <button type="button" value="cake0" class="btn btn-outline-dark">Gateau arabes 1</button>
      {% for obj in object_list %}
      {% if obj.main_product == True  %}
        <button
            type="button"
            value="cake{{ obj.id }}"
            class="btn btn-outline-dark">
            {{ obj.name }}
        </button>
        {% endif %}
        {% endfor %}
    </div>

    <div id="cake0" class="container food" style="display:block; ">
        <div class="row">
            <div class="col-sm-6">
                <img src="{% static 'img/gateau1.jpg' %}" alt="Nature" class="responsiveImage" width="600">
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <div>
                            <h5 class="card-title">Corne de gazelle</h5>
                            <h6 class="card-subtitle mb-2 text-muted"></h6>
                            <p class="card-text"></p>
                        </div>
                        <h4>Prix: 5 € / kg</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% for obj in object_list %}
    {% if obj.main_product == True  %}
        <div id="cake{{obj.id}}" class="container food" style="display:none">
        <div class="row">
            <div class="col-sm-6">
                <img src="{% static 'img/gateau1.jpg' %}" alt="Nature" class="responsiveImage" width="600">
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <div>
                            <h5 class="card-title">{{obj.name}}</h5>
                              <h6 class="card-subtitle mb-2 text-muted">{{obj.subtitle}}</h6>
                              <p class="card-text">{{obj.description}}</p>
                        </div>
                        <h4>{{obj.price}}</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}

</section>

{% include "snippets/menu.html" %}

<script>
    $(function() {
        $('button.btn-outline-dark').click(function(event){
            $('.cake').hide();
            $('#' + $(this).val()).show();
        });
</script>


{% endblock content %}



