<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

{% block content %}

<section id="about" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center marb-35">
                <h1 class="header-h">Plats à emporter</h1>
                <p class="header-p">Plats fait maison</p>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-1"></div>
        </div>
    </div>
</section>

<section class="section-padding container">
    <div class="col-md-12 text-center">
        <h1 class="header-h mb-5">Que choisir ?</h1>
    </div>
    <select id="foodSelector" class="mb-5">
        <option value="food1">Couscous Royal</option>
        <option value="food2">Couscous simple</option>
        <option value="food3">Tajine viande</option>
        <option value="food4">Tajine pomme de terre</option>
        <option value="food5">Brochette + salade</option>
        <option value="food6">Samoussa + salade</option>
    </select>

    <div id="food1" class="container food" style="display:block; ">
        <div class="row">
            <div class="col-sm-6">
                <img src="{% static 'img/res01.jpg' %}" alt="Nature" class="responsiveImage" width="600">
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body d-flex flex-column justify-content-between">
                        <div>
                            <h5 class="card-title">Couscous Royal</h5>
                            <h6 class="card-subtitle mb-2 text-muted"></h6>
                            <p class="card-text">Merguez, boulette de viande, poulet</p>
                        </div>
                        <h4>Prix: 20 € / personne</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="food2" class="container food" style="display:none">
        <div class="row">
            <div class="col-sm-6">
                <img src="{% static 'img/res01.jpg' %}" alt="Nature" class="responsiveImage" width="600">
            </div>
            <div class="col-sm-6 card">
                <div class="card-body">
                    <div>
                        <h5 class="card-title">Couscous simple au poulet</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                    <h4>Prix: 5 € la grande barquette</h4>
                </div>
            </div>
        </div>
    </div>

    <div id="food3" class="container food" style="display:none">
        <div class="row">
            <div class="col-sm-6">
                <img src="{% static 'img/res01.jpg' %}" alt="Nature" class="responsiveImage" width="600">
            </div>
            <div class="col-sm-6 card">
                <div class="card-body">
                    <div>
                        <h5 class="card-title">Tajine</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Viande au choix</h6>
                        <p class="card-text">agneau - veau - boeuf - poulet aux olives</p>
                    </div>
                    <h4>Prix: 5 € la grande barquette</h4>
                </div>
            </div>
        </div>
    </div>

    <div id="food4" class="container food" style="display:none">
        <div class="row">
            <div class="col-sm-6">
                <img src="{% static 'img/res01.jpg' %}" alt="Nature" class="responsiveImage" width="600">
            </div>
            <div class="col-sm-6 card">
                <div class="card-body">
                    <div>
                        <h5 class="card-title">Tajine 4</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Viande et pruneau au choix</h6>
                        <p class="card-text">Pomme de terre olive ou pruneau</p>
                    </div>
                    <h4>Prix: 5 € la grande barquette</h4>
                </div>
            </div>
        </div>
    </div>

    <div id="food5" class="container food" style="display:none">
        <div class="row">
            <div class="col-sm-6">
                <img src="{% static 'img/res01.jpg' %}" alt="Nature" class="responsiveImage" width="600">
            </div>
            <div class="col-sm-6 card">
                <div class="card-body">
                    <div>
                        <h5 class="card-title">Brochette + salade composée</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                        <p class="card-text">Viande de veau ou kefta (viande hachée)</p>
                    </div>
                    <h4>Prix: 5 € la grande barquette</h4>
                </div>
            </div>
        </div>
    </div>

    <div id="food6" class="container food" style="display:none">
        <div class="row">
            <div class="col-sm-6">
                <img src="{% static 'img/res01.jpg' %}" alt="Nature" class="responsiveImage" width="600">
            </div>
            <div class="col-sm-6 card">
                <div class="card-body">
                    <div>
                        <h5 class="card-title">Samoussa + salade</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                    <h4>Prix: 5 € la grande barquette</h4>
                </div>
            </div>
        </div>
    </div>

</section>


<section id="menu-list" class="container section-padding">
    <div class="col-md-12 text-center marb-35">
        <h1 class="header-h">Au menu</h1>
    </div>

    <div class="col-md-12 d-flex flex-row justify-content-around flex-wrap">

        <div class="col-sm-6 menu-restaurant">
            <span class="clearfix">
                <a class="menu-title" href="#" data-meal-img="assets/img/restaurant/rib.jpg">Couscous royal</a>
                <span style="left: 166px; right: 44px;" class="menu-line"></span>
                <span class="menu-price">17,90 €</span>
            </span>
            <span class="menu-subtitle">Merguez, boulettes de viande, poulet</span>
        </div>

        <div class="col-sm-6 menu-restaurant">
            <span class="clearfix">
                <a class="menu-title" href="#" data-meal-img="assets/img/restaurant/rib.jpg">Couscous</a>
                <span style="left: 166px; right: 44px;" class="menu-line"></span>
                <span class="menu-price">17,90 €</span>
            </span>
            <span class="menu-subtitle">Poulet</span>
        </div>

        <div class="col-sm-6 menu-restaurant">
            <span class="clearfix">
                <a class="menu-title" href="#" data-meal-img="assets/img/restaurant/rib.jpg">Tajine</a>
                <span style="left: 166px; right: 44px;" class="menu-line"></span>
                <span class="menu-price">17,90 €</span>
            </span>
            <span class="menu-subtitle">Viande au choix: Agneau - boeuf - poulet aux olives</span>
        </div>

        <div class="col-sm-6 menu-restaurant">
            <span class="clearfix">
                <a class="menu-title" href="#" data-meal-img="assets/img/restaurant/rib.jpg">Tajine pruneaux</a>
                <span style="left: 166px; right: 44px;" class="menu-line"></span>
                <span class="menu-price">17,90 €</span>
            </span>
            <span class="menu-subtitle">Pomme de terre ou pruneau</span>
        </div>

        <div class="col-sm-6 menu-restaurant">
            <span class="clearfix">
                <a class="menu-title" href="#" data-meal-img="assets/img/restaurant/rib.jpg">brochettes accompagnées d'une salade</a>
                <span style="left: 166px; right: 44px;" class="menu-line"></span>
                <span class="menu-price">17,90 €</span>
            </span>
            <span class="menu-subtitle">viande de veau ou kefta (viande hachée) - Salade composée</span>
        </div>

        <div class="col-sm-6 menu-restaurant">
            <span class="clearfix">
                <a class="menu-title" href="#" data-meal-img="assets/img/restaurant/rib.jpg">Samoussas accompagnées d'une salade</a>
                <span style="left: 166px; right: 44px;" class="menu-line"></span>
                <span class="menu-price">17,90 €</span>
            </span>
            <span class="menu-subtitle">Salade composée</span>
        </div>

    </div>

</section>

<script>
    $(function() {
        $('#foodSelector').change(function(){
            $('.food').hide();
            $('#' + $(this).val()).show();
        });
});
</script>


{% endblock content %}



