{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- main content -->
<div class="container">
    <div class="row">

        <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">AF Roti</h1>
          <p class="lead text-muted">Nous vous présentons nos poulets rôtis à chair blanche, rustique, tendre et gouteuse. Cuite à la rôtisserie, ell est arrosée de son jus afin d'obtenir une viande moelleuse.</p>
          <p>
            <a href="#" class="btn btn-primary my-2">Main call to action</a>
            <a href="#" class="btn btn-secondary my-2">Secondary action</a>
          </p>
        </div>
      </section>

        <div class="container">
            <div class="row">
                <!-- card -->
                <div class="card-deck">

                    <div class="card">
                        <img class="card-img-top" src="{% static "photos/example1.jpg" %}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Poulet Fermier</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        </div>
                        <div class="card-footer">
                          <small class="text-muted">Last updated 3 mins ago</small>
                        </div>
                    </div>

                    <div class="card">
                        <img class="card-img-top" src="{% static "photos/example1.jpg" %}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Poulet Supérieur</h5>
                            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Last updated 3 mins ago</small>
                        </div>
                    </div>

                    <div class="card">
                        <img class="card-img-top" src="{% static "photos/example1.jpg" %}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Poulet 3/4 personnes</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Last updated 3 mins ago</small>
                        </div>
                    </div>

                </div>
                <!-- end card -->
            </div>
        </div>
    </div>
</div>

{% endblock content %}



