<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="section-padding">
    <div class="col-md-12 text-center">
        <h1 class="header-h mb-5">Rôtisseur AF Roti</h1>
        <div class="container">
            <h2>Où nous trouver ?</h2>
            <div class="d-flex flex-row justify-content-between flex-wrap">

                <div class="card col-md-4" style="width: 18rem;">
                    <img class="card-img-top" src="{% static 'img/location.jpg' %}" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">Marché de Nuits-saint-Georges les vendredis</p>
                    </div>
                </div>

                <div class="card col-md-4" style="width: 18rem;">
                    <img class="card-img-top" src="{% static 'img/location.jpg' %}" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">Marché de Beaune les samedis</p>
                    </div>
                </div>

                <div class="card col-md-4" style="width: 18rem;">
                    <img class="card-img-top" src="{% static 'img/location.jpg' %}" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">Marché de Quetigny les dimanche</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-1"></div>

</section>


<section class="section-padding container">
    <div class="col-md-12 text-center">
        <h1 class="header-h mb-5">Que choisir ?</h1>
    </div>
    <div class="mb-5">
        <button type="button" value="home0" class="btn btn-outline-dark">Test</button>
        {% for obj in object_list %}
        {% if obj.main_product == True  %}
            <button
                type="button"
                value="home{{ obj.id }}"
                class="btn btn-outline-dark">
                {{ obj.name }}
            </button>
        {% endif %}
        {% endfor %}
    </div>


    <div id="home0" class="container home" style="display:block; ">
        <div class="row">
            <div class="col-sm-6">
                <img src="{% static 'img/roti.jpg' %}" alt="Nature" class="responsiveImage" width="600">
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <div>
                            <h1 class="card-title">Poulet 3/4 personnes</h1>
                            <h6 class="card-subtitle mb-2 text-muted"></h6>
                            <p class="card-text"></p>
                        </div>
                        <h4>Prix: 8,90 €</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% for obj in object_list %}
    {% if obj.main_product == True  %}
        <div id="home{{obj.id}}" class="container home" style="display:none; ">
            <div class="row">
                <div class="col-sm-6">
                    <img src="{% static 'img/roti.jpg' %}" alt="Nature" class="responsiveImage" width="600">
                </div>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <div>
                                <h1 class="card-title">{{ obj.name }}</h1>
                                <h6 class="card-subtitle mb-2 text-muted">{{ obj.subtitle }}</h6>
                                <p class="card-text">{{ obj.description }}</p>
                            </div>
                            <h4>{{ obj.name }}</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    {% endfor %}
</section>

{% include "snippets/menu.html" %}

<script>
    $(function() {
            $('button.btn-outline-dark').click(function(event){
                    $('.home').hide();
                    $('#' + $(this).val()).show();
            });
});
</script>


{% endblock content %}



