{% load static %}
<section id="contact" class="section-padding container">

        <div class="d-flex flex-row justify-content-between flex-wrap">

            <div class="col-md-4 d-flex flex-column justify-content-between align-items-center p-5">
                <div class="col-sm-6 text-center p-5">
                    <img src="{% static 'img/call.png' %}" alt="" class="responsiveImage" max-width="100">
                </div>
                <div class="text-center">
                    Appelez-nous pour plus de renseignements:
                    <h1>09 09 09 09 09</h1>
                </div>
            </div>

            <div class="col-md-4 d-flex flex-column justify-content-between align-items-center p-5">
                <div class="col-sm-6 text-center p-5">
                    <a href="https://www.facebook.com/fatima.cuisine.dijon">
                        <img src="{% static 'img/facebook.png' %}" alt="" class="responsiveImage" max-width="100">
                    </a>
                </div>
                <div class="text-center">
                    Consultez notre facebook et envoyez nous un message
                </div>
            </div>

            <div class="col-md-4 d-flex flex-column justify-content-between align-items-center p-5">
                <div class="col-sm-6 text-center p-3">
                    <img src="{% static 'img/vf.png' %}" alt="" class="responsiveImage" max-width="100">
                </div>
                <div class="text-center">
                    Poulet français
                </div>
            </div>

        </div>

</section>