{% load static %}
<section class="py-5 bg-grey">

        <div class="d-flex flex-row flex-wrap">

            <div class="col-lg-4 d-flex flex-column align-items-center p-4">
                <div class="col-lg-6 text-center p-1 mb-1">
                    <img src="{% static 'img/call.png' %}" alt="" class="responsiveImageContact" max-width="100">
                </div>
                <div class="text-center">
                    <p>Appelez-nous pour plus de renseignements:</p>
                    <h1>09 09 09 09 09</h1>
                </div>
            </div>

            <div class="col-lg-4 d-flex flex-column align-items-center p-4">
                <div class="col-lg-6 text-center p-1 mb-1">
                    <a href="https://www.facebook.com/fatima.cuisine.dijon">
                        <img src="{% static 'img/facebook.png' %}" alt="" class="responsiveImageContact" max-width="100">
                    </a>
                </div>
                <div class="text-center">
                    <p>Consultez notre Facebook.</p>
                    <p>Et envoyez nous un message !</p>
                </div>
            </div>

            <div class="col-lg-4 d-flex flex-column align-items-center p-4">
                <div class="col-lg-6 text-center p-1 mb-1">
                    <img src="{% static 'img/vf.png' %}" alt="" class="responsiveImageContact" max-width="100">
                </div>
                <div class="text-center">
                    <p>Nos poulets sont 100% d'origine françaises et proviennent de producteurs locaux.</p>
                    <p>Chaîne du froid respectée. Viandes 100% françaises.</p>
                </div>
            </div>

        </div>

</section>