<section class="container section-padding">
    <div class="container py-5">
        <div class="row">
            <div class="col-12 mt-4">
                <h3 class="text-center">Menu</h3>
                <hr class="accent my-5">
            </div>
            <div class="card-columns">
                {% for obj in object_list %}
                {% if obj.menu_product == True  %}
                <div class="card card-body">
                    <span class="float-right font-weight-bold">{{ obj.price }}</span>
                    <h6 class="text-truncate">{{ obj.name }}</h6>
                    <p class="small">{{ obj.description }}</p>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="col-12 mt-5 border border-right-0 border-left-0">
            <div class="row">
                <div class="col h5">Commandes:</div>
                <div class="col h5 text-right">09 09 09 09 09</div>
            </div>
        </div>
    </div>
</section>